body ,head{
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #61db67;
  border-radius: 10px;
}
